$default-font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

$h3: 1.602rem * $default-scale-factor;

body, button, input, select, textarea {
  font-family: $default-font-family;
}

body {
  font-size: 1.6rem * $default-scale-factor;
  line-height: 1.735;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $default-font-family;
}

h1, .h1 {
  font-size: 2.887rem * $default-scale-factor;
  margin: 0.53em 0 0;
  text-transform: uppercase;
}

h2, .h2 {
  font-size: 2.027rem * $default-scale-factor;
  margin: 0.4em 0 0;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: $h3;
  margin: 0.4em 0 0;
  text-transform: uppercase;
}

h4, .h4 {
  font-size: 1.266rem * $default-scale-factor;
  margin: 0.67em 0 0;
  text-transform: uppercase;
}

h5, .h5 {
  font-size: 1rem * $default-scale-factor;
  margin: 0.94em 0 0;
}

h6, .h6 {
  font-size: 1rem * $default-scale-factor;
  margin: 1em 0 0;
}

p {

}