.manager {
    &__buttons {
        margin-top: 1.8 * $rem;
        display: flex;
        align-items: center;

        &.is-right {
            justify-content: flex-end;
        }

        > * {
            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }
}